@charset "utf-8";

/* 
Author: Elizabeth Gress
Date: 09/18/2023
*/

.flex-container {
    display: flex;
	display: -webkit-flex;
}

fieldset {
	padding: 10px 10px;
	margin: 5px;
	width: 30%;
}

.formRow {
    display: flex;
	display: -webkit-flex;
    flex-direction: column;
	-webkit-flex-direction: column;
    margin-bottom: 10px;
}

.formSection {
    padding: 10px;
    margin: 5px;
    width: 30%;
}

textarea, input {
    width: 100%;
	height: 40%;
}

#cakeType select {
    width: 100%; 
    max-width: 100%; 
}

/* Input background color and images */

input#fname:focus:valid,
input#lname:focus:valid,
input#street:focus:valid,
input#city:focus:valid,
input#province:focus:valid,
input#postal-code:focus:valid,
input#phone:focus:valid {
	background: hsl(180, 100%, 95%);
}

input#fname:focus:invalid,
input#lname:focus:invalid,
input#street:focus:invalid,
input#city:focus:invalid,
input#state:focus:invalid,
input#zip:focus:invalid,
input#phone:focus:invalid {
	background: hsl(0, 100%, 90%);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .formRow {
        margin-right: 0;
    }
}

div#buttons {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	width: 15%;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	padding-top: 10px;
}