@charset "utf-8";

@font-face 
{
  font-family: 'LoversQuarrel';
  src: url('Fonts/LoversQuarrel-Regular.ttf') format('truetype');
}

@font-face 
{
  font-family: 'Megila';
  src: url('Fonts/Megila.otf') format('opentype');
}

@font-face 
{
  font-family: 'DancingScript';
  src: url('Fonts/DancingScript.ttf') format('truetype');
}

/*
Author: Elizabeth Gress 
Filename: styles.css

*/

/* =============================================
	Body & footer
   =============================================
*/

body {
    font-family: 'Megila', sans-serif;
    font-size: 2.0vw;
    font-weight: 300;
    color: #000000;
    min-height: 100vh;
    background-image: url("Images/background.jpg");
    background-color: #b3f0ff;
}

.flex-layout {
	display: flex;
	display: -webkit-flex;
	-webkit-flex-direction: column;
    flex-direction: column;
}

.site-content {
	width: 50%; 
	margin: auto;
}

main {
    margin: 0 auto;
    max-width: 960px;
	box-sizing: border-box;
}

.main-column, h2 {
	padding: 10px;
    border: 4px double #ccc;
    border-radius: 10px;
	text-align: center;
}
	
.footer {
    color: #ffffde;
    text-align: center;
    font-size: 1.2vw;
    padding: 10px;
    background-color: #000; 
	border-style: double;
    border-width: 3px;
    border-color: hsla(60, 100%, 94%, 0.3);
}

.drop-cap::first-letter {
  font-size: 2em; 
  margin-right: 0.1em; 
  line-height: 1; 
  color: rgba(255, 255, 230, 0.4);
}

/* =============================================
	Headers
   =============================================
*/

.header h1 {
    text-align: center;
    border-style: double;
    border-width: 3px;
    border-color: rgb(255, 255, 222);
    font-family: 'LoversQuarrel', sans-serif;
    font-size: 8.8vw;
    font-weight: 300;
    color: rgb(255, 255, 222);
	margin: 0;
}

h2 {
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h3 {
	font-family: 'DancingScript', sans-serif;
	color: rgb(0, 96, 128);
	font-size: 2.4vw;
	margin: 5px;
	padding: 10px;
}

/* =============================================
	Images
   =============================================
*/

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }
  
  .grid-item img {
    max-width: 100%;
    height: auto; 
  }
}

#about-image {
  width: 300px; 
  height: auto; 
  float: right; 
  margin-right: 20px; 
  transform: rotate(5deg) scale(0.9, 0.9);
  box-shadow: rgb(101, 101, 101) 10px -10px 25px;
}

.image-box img {
    width: 120px; 
    height: 155px;
	opacity: 0.6;
}

#image-column {
    padding: 40px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

/* =============================================
	Top Bar
   =============================================
*/

nav {
	text-align: center;
}
/* Style list items (links) */
.top-bar li {
  display: inline-block;
  margin-right: 10px; 
}

/* Style link text */
.top-bar a {
  text-decoration: none;
  display: inline-block;
  color: #ffff99; 
  padding: 10px; 
  font-size: 2.6vw;
}

/* Style visited link text */
.top-bar a:visited {
  text-decoration: none;
  display: inline-block;
  color: #ffff99; 
  padding: 10px; 
  font-size: 2.6vw;
}

/* Hover effect for links */
.top-bar a:hover {
  background-color: #35869b; 
  border-radius: 5px;
  color: #ffffde;  
}

/* =============================================
	Grids
   =============================================
*/

#gallery-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  margin: 0 auto;
}

#gallery-item img {
	max-width: 70%;
	height: auto;
	display: block; 
	margin: 0; 
	padding: 0; 
}

#flavor-grid-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
}

#flavor-item {
	flex: 0 0 calc(33.33% - 10px); 
	background-color: rgba(255, 255, 255, 0.2);
	margin-bottom: 10px; 
	box-sizing: border-box;
	border-radius: 60px;
	text-align: center;
	font-size: 1.5vw;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}
	